//- config
- var title='AdStage',width=300,height=250;
- var adsize='width=' + width + ',height=' + height;
- var clickURL='http://google.com/';
//- scripts
- var adstage=['log','TweenMax.min','stage','square','factory'];
- var adspec=['bg','main'];

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(id='dimensions' name='ad.size' content=adsize w=width h=height)
    title #{title}
    each val in adstage
      script(src='adstage/'+val+'.js')
    each val in adspec
      script(src='banner/'+val+'.js')
    link(href='adstage/main.css' rel='stylesheet')
  body(onload='init();')
  script.
    var clickTag='#{clickURL}';